@model List<CEDICOOP.Models.Socio>
@{

    List<CEDICOOP.Models.Socio> lstSocio = Model;
}

<div class="col-lg-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="export-table-wrapper table-responsive">
                    <table id="tblSociosAsamblea" class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Asistencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in lstSocio)
                            {
                                <tr>
                                    <td>@item.IdSocio</td>
                                    <td>@item.Nombre&nbsp;@item.Apellidos</td>
                                    <td>
                                        <div class="checkbox checbox-switch switch-success">
                                            <label>
                                                <input class="checkSocio" idsocio ="@item.IdSocio" id="check" type="checkbox" name="switch8"  @(item.Asistencia > 0  ? "checked" : "uncheked") >
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


